# Django
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
DATABASE_URL=postgresql://postgres:password@localhost:5432/uychi_hub
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Email (Resend - resend.com dan bepul API key oling)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_EMAIL=info@uychi.uz
